---
import NavbarItem from "./NavbarItem.astro";
---
<nav class="sticky top-0">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-center">
            <div class="inset-y-0 left-0 flex items-center justify-center">
                <div class="flex flex-1 items-center justify-center">
                    <div class="flex space-x-4">
                        <NavbarItem>About</NavbarItem>
                        <NavbarItem>Skills</NavbarItem>
                        <NavbarItem>Projects</NavbarItem>
                        <NavbarItem>Timeline</NavbarItem>
                        <NavbarItem>Contact</NavbarItem>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
