@import "./scss/colours";
@import "./scss/type";

@import "./scss/components/hero";
@import "./scss/components/skills";

html,
body {
  background-color: $black;
  color: $white;
}

section {
  margin: 8px;
}